{% extends "base.html" %}
{% block content %}
<h2>Règles du jeu</h2>
<p>
	<h3>Se déplacer</h3>
	<ul>
		<li><span class="holo">h&nbsp;&nbsp;&nbsp;: </span><b>Haut, grimper</b></li>
		<li><span class="holo">b&nbsp;&nbsp;&nbsp;: </span><b>Bas, descendre</b></li>
		<li><span class="holo">n&nbsp;&nbsp;&nbsp;: </span><b>Nord</b></li>
		<li><span class="holo">ne&nbsp;: </span><b>Nord-Est</b></li>
		<li><span class="holo">e&nbsp;&nbsp;&nbsp;: </span><b>Est</b></li>
		<li><span class="holo">se&nbsp;: </span><b>Sud-Est</b></li>
		<li><span class="holo">s&nbsp;&nbsp;&nbsp;: </span><b>Sud</b></li>
		<li><span class="holo">so&nbsp;: </span><b>Sud-Ouest</b></li>
		<li><span class="holo">o&nbsp;&nbsp;&nbsp;: </span><b>Ouest</b></li>
		<li><span class="holo">no&nbsp;: </span><b>Nord-Ouest</b></li>
	</ul>
	<h3>Actions</h3>
	<ul>
		<li><span class="holo">p : </span><b>Prendre un objet</b></li>
		<li><span class="holo">r ([objet]): </span><b>Regarder, suivi du nom de l'objet si vous voulez regarder quelque chose en particulier</b></li>
		<li><span class="holo">taper [texte]: </span><b>Pour taper du texte dans un ordinateur par exemple</b></li>
		<li><span class="holo">allumer [objet]: </span><b>Pour allumer une lampe par exemple</b></li>
		<li><span class="holo">ouvrir [objet1] (avec [objet2]): </span><b>Pour ouvrir une porte par exemple</b></li>
		<li><span class="holo">appuyer [bouton]: </span><b>Pour appeler l'ascenseur par exemple</b></li>
	</ul>
</p>
<!-- This should contain additional information about the MUD. -->
{% end %}
{% block js %}
selected_tab = "#tababout";
{% end %}
